* {
    box-sizing: border-box;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 500px;
    margin: auto;
    z-index: 5;
  }
  .loginPopup .btn1 {
    display: none;
    margin: auto;
    transform: translate(-50px, -20px);
    position: absolute;
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    font-family:Roboto; 
    font-size:12px; 
    text-align: center;
    height: 20px;
    width: 50px;
    opacity: .7;
    z-index: 11;
    animation: slide-in-btn 0.5s forwards;
  }
  .loginPopup .btn1:hover,
  .openButton:hover {
    opacity: 1;
  }
  .loginPopup .btn_fs {
    display: none;
    margin: auto;
    transform: translate(-50px, -20px);
    position: absolute;
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    font-family:Roboto; 
    font-size:12px; 
    text-align: center;
    height: 20px;
    width: 50px;
    opacity: .7;
    z-index: 11;
    animation: slide-in-btn-fs 0.5s forwards;
  }
  .loginPopup .btn_fs:hover,
  .openButton:hover {
    opacity: 1;
  }
  .formPopup {
    display: none;
    padding: 17px;
    position: absolute;
    transform: translate(-350px, -402px);
    background-color: #fff;
    border-radius: 0px;
    z-index: 9;
    width: 350px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in 0.5s forwards;
  }
  .formPopup_fs {
    display: none;
    padding: 17px;
    position: absolute;
    transform: translate(-500px, -402px);
    background-color: #fff;
    border-radius: 0px;
    z-index: 9;
    width: 500px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in-fs 0.5s forwards;
  }
  .formContainer {
    width: 100%;
    padding: 0%;
  }
  .formContainer input[type=text] {
    display: block;
    width: 60%;
    padding-left: 2%;
    margin: auto;
    border: none;
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 52px;
    font-family: Roboto;
    font-size: 15px;
    color: #000000; 
    text-align: left;
  }
  .formContainer input[type=text]::placeholder {
    color: #868E96;
    font-style: italic;
   }
  .formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    display: block;
    margin: 25px auto;
    border-style: none;
    border-radius: 6px;
    background-color: #4ADCB5;
    cursor: pointer;
    height: 52px;
    width: 200px;
    font-family: Roboto;
    color: #fff;
    text-align: center;
    font-size: 15;
    opacity: .8;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }
  .formContainer .footer {
     text-align:right;
     font-style:Roboto; 
     font-size:10px; 
     display:block; 
     position:relative;
  }
  @keyframes slide-in {
    100% { transform: translate(150px, -402px); }
  }
  @keyframes slide-in-fs {
    100% { transform: translate(0px, -402px); }
  }
  @keyframes slide-in-btn {
    100% { transform: translate(150px, -20px); }
  }
  @keyframes slide-in-btn-fs {
    100% { transform: translate(0px, -20px); }
  }
  @keyframes slide-in-mob {
    100% { transform: translate(0px, -284px); }
  }
  @keyframes slide-in-fs-mob {
    100% { transform: translate(0px, -284px); }
  }
  @keyframes slide-in-btn-mob {
    100% { transform: translate(0px, -20px); }
  }
  @keyframes slide-in-btn-fs-mob {
    100% { transform: translate(0px, -20px); }
  }
  @media only screen and (max-device-width: 480px) {
      .loginPopup{ 
        width: 350px 
      }
      .loginPopup .btn1{
        animation: slide-in-btn-mob 0.5s forwards;
      }
      .formPopup{
        height: 282px;
        width: 350px;
        transform: translate(-350px, -284px);
        animation: slide-in-mob 0.5s forwards;       
      }
      .formPopup_fs{
        height: 282px;
        width: 350px;
        transform: translate(0px, -284px);
        animation: slide-in-fs-mob 0.5s forwards;       
      }
  }