* {
    box-sizing: border-box;
  }
  .iframePopup {
    position: relative;
    text-align: center;
    width: 500px;
    margin: auto;
    z-index: 5;
  }
  .iframeformPopup {
    display: none;
    position: absolute;
    transform: translate(150px, -402px);
    border-radius: 0px;
    border: none;
    z-index: 9;
    width: 350px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in 0.5s forwards;
  }
  .iframeformPopup_fs {
    display: none;
    position: absolute;
    transform: translate(0px, -402px);
    border-radius: 0px;
    border: none;
    z-index: 9;
    width: 500px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in 0.5s forwards;
  }
  .iframePopup .btn {
    display: none;
    margin: auto;
    transform: translate(150px, -20px);
    position: absolute;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family:Roboto; 
    font-size:12px; 
    height: 20px;
    width: 50px;
    opacity: .7;
    z-index: 11;
  }
  .iframePopup .btn:hover,
  .openButton:hover {
    opacity: 1;
  }
  .iframePopup .btn_fs {
    display: none;
    margin: auto;
    transform: translate(0px, -20px);
    position: absolute;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family:Roboto; 
    font-size:12px; 
    height: 20px;
    width: 50px;
    opacity: .7;
    z-index: 11;
  }
  .iframePopup .btn_fs:hover,
  .openButton:hover {
    opacity: 1;
  }
  @media only screen and (max-device-width: 480px) {
      .iframePopup {
        width: 350px;
      }
      .iframeformPopup {
        height: 282px;
        width: 350px;
        transform: translate(0px, -282px);
      }
      .iframePopup .btn {
        transform: translate(0px, -20px);
      }
      .iframeformPopup_fs {
        height: 282px;
        width: 350px;
        transform: translate(0px, -282px);
      }
      .iframePopup .btn_fs {
        transform: translate(0px, -20px);
      }
  }