* {
    box-sizing: border-box;
  }
  .iframePopup {
    position: relative;
    text-align: center;
    width: 500px;
    margin: auto;
    z-index: 5;
  }
  .iframeformPopup {
    display: none;
    position: absolute;
    transform: translate(-350px, -402px);
    border-radius: 0px;
    border: none;
    z-index: 9;
    width: 350px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in 0.5s forwards;
  }
  .iframeformPopup_fs {
    display: none;
    position: absolute;
    transform: translate(-500px, -402px);
    border-radius: 0px;
    border: none;
    z-index: 9;
    width: 500px;
    height: 402px;
    overflow: auto;
    opacity: .95;
    animation: slide-in-fs 0.5s forwards;
  }
  .iframePopup .btn {
    display: none;
    margin: auto;
    transform: translate(-50px, -20px);
    position: absolute;
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family:Roboto; 
    font-size:12px; 
    height: 20px;
    width: fit-content;
    padding: 0px 10px;
    opacity: .5;
    z-index: 11;
    animation: slide-in-btn 0.5s forwards;
  }
  .iframePopup .btn:hover,
  .openButton:hover {
    opacity: 1;
  }
  .iframePopup .btn_close {
    display: none;
    margin: auto;
    transform: translate(-100px, -90px);
    position: absolute;
    background-color: #FFF278;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight:bolder; 
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    filter: drop-shadow(0 4px 4px rgb(63,63,63));
    opacity: .8;
    z-index: 11;
    overflow: hidden;
    animation: slide-in-btn-close 0.5s forwards;
  }
  .iframePopup .btn_close:hover,
  .openButton:hover {
    opacity: 1;
  }
  .iframePopup .btn_fs {
    display: none;
    margin: auto;
    transform: translate(-50px, -20px);
    position: absolute;
    border-style: none;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-family:Roboto; 
    font-size:12px; 
    height: 20px;
    width: fit-content;
    padding: 0px 10px;
    opacity: .5;
    z-index: 11;
    animation: slide-in-btn-fs 0.5s forwards;
  }
  .iframePopup .btn_fs:hover,
  .openButton:hover {
    opacity: 1;
  }
  @keyframes slide-in {
    100% { transform: translate(150px, -402px); }
  }
  @keyframes slide-in-fs {
    100% { transform: translate(0px, -402px); }
  }
  @keyframes slide-in-btn {
    100% { transform: translate(150px, -20px); }
  }
  @keyframes slide-in-btn-fs {
    100% { transform: translate(0px, -20px); }
  }
  @keyframes slide-in-btn-close {
    100% { transform: translate(2px, -90px); }
  }
  @keyframes slide-in-mob {
    100% { transform: translate(0px, -282px); }
  }
  @keyframes slide-in-fs-mob {
    100% { transform: translate(0px, -282px); }
  }
  @keyframes slide-in-btn-mob {
    100% { transform: translate(0px, -20px); }
  }
  @keyframes slide-in-btn-fs-mob {
    100% { transform: translate(0px, -20px); }
  }
  @media only screen and (max-device-width: 480px) {
      .iframePopup {
        width: 350px;
      }
      .iframeformPopup {
        height: 282px;
        width: 350px;
        transform: translate(-350px, -282px);
        animation: slide-in-mob 0.5s forwards;
      }
      .iframePopup .btn {
        transform: translate(-50px, -20px);
        animation: slide-in-btn-mob 0.5s forwards;
      }
      .iframeformPopup_fs {
        height: 282px;
        width: 350px;
        transform: translate(-350px, -282px);
        animation: slide-in-fs-mob 0.5s forwards;
      }
      .iframePopup .btn_fs {
        transform: translate(-50px, -20px);
        animation: slide-in-btn-fs-mob 0.5s forwards;
      }
  }